body {

    font-family: 'Roboto', sans-serif;

}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#header {
    width:100%;
    background-color: #273a60;
    vertical-align: bottom;
    height: 100px;
    text-align: center;
}

.header-content {
    clear: both;
    width: 100%;
    max-width: 1042px;
    margin: auto;
    padding: 0 27px 17px 50px;
    position: relative;
}
.header-content > img {
    display: inline;
    float: left;
    margin: 0 0 17px 50px;
}

button.meeting {
    position: initial;
    left:10px;
    bottom: 30px;
    display: inline;
    float: right;
    width:  160px;
    height: 42px;
    color: #fff;
    background-color: #ffb30f;
    outline: none;
    border-radius: 5px;
    border: none;
}

.meeting p {
    margin: 0;
    font-weight: 500;
    font-size:18px;
}

p {
    margin: 0;
}

.banner {
    width: 1042px;
}


#body {
    width: 100%;
    text-align: center;
    clear: both;
    margin: auto;
    padding: 0;
}

.center {
    margin: auto;
    clear: both;
}
#table {
    text-align: center;
    width: 100%;
    max-width: 1042px;
    clear: both;
    margin: auto;
}


.subject {
    margin: 75px 0 10px 0;
    font-size: 36px;
    color: #505050;
    font-weight: 400;
}

.small_subject {
    margin-bottom: 42px;
    font-weight: 400;
}

.small_subject {
    font-size: 24px;
    color: #747474;
}

.cell {
    float: left;
    display: inline-block;
    padding: 22px 0  0;
    width: 339px;
    height:150px;
}

.cell:hover {
    cursor: pointer;
}

.r_b_border {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.right_border {
    border-right: 1px solid #ebebeb;
}

.bottom_border {
    border-bottom: 1px solid #ebebeb;
}

.icon_text {
    margin: 0;
    padding: 0;
    color: #ef6c00;
    font-size: 28px;
    font-weight: 500;
    height: 32px;
}

.space_20 {
    margin: 20px 0 0 0;
}

button.speak {
    display: inline-block;
    text-decoration: none;
    margin: 40px 0 0 0;
    padding:0;
    width:462px;
    height: 52px;
    color: #ffffff;
    background-color: #ffb30f;
    border: none;
    outline: none;
    border-radius: 5px;
}
button span {
    font-size: 24px;
    font-weight: 500;
}

#display {
    text-align: center;
    width: 100%;
    max-width: 864px;
    display: block;
    clear: both;
    margin-bottom: 54px;
}

.text_display {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing : border-box;
    border-bottom: 1px solid #ebebeb;
    padding: 40px 0 46px 0;
}

.text_display:last-child {
    border: none;
}

#display img {
    display: inline-block;
    width: 376px;
    height: 100%;
}

.subject {
    margin: 105px 0 30px 0;
}

.content_text {
    display: inline-block;
    width: 452px;
    box-sizing : border-box;
    margin-right: 36px;
    float: left;
    text-align: left;
    clear: both;
}

.content_text > p:first-child {
   color: #ef6c00;
    font-size: 22px;
    font-weight: 500;
}
.content_text > p:nth-child(2) {
    color: #505050;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
}
.content_text  span {
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    color: #474747;
}

.content_text  span:nth-child(2) {
    margin: 25px 0 0 0;
}

.content_text ul {
    margin: 18px 0  0 25px;
    padding-left: 20px;



}
.content_text li {
   line-height: 18px;
    font-weight: 400;
    color: #474747;
    padding-left: 5px;
}


.logo {
    width: 50%;
    display: inline;
    text-align: center;
    margin: auto;
    float: left;

}

.logo > img:first-child {
    float: left;
}




#organizations {
    width: 100%;
    max-width:1042px;
    clear: both;
    margin: auto;
}

.cw-footer-in {
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    padding: 65px 0px 0px 0px;
    position: relative;
}
#footer{
    width:100%;
    float:left;
    background:#014679;
    margin:56px 0 0 0;
    padding:0 0 45px 0;
}

.cw-footer-in ul {
    list-style: none;
    padding: 0;
}

.cw-footer-social-media{
    width:140px;
    float:right;
    margin:0;
}
.cw-footer-social-media > a{
    width:36px;
    height:36px;
    margin:0 0 10px 10px;
    float:left;
}
.cw-footer-social-media > a > i{
    width:36px;
    height:36px;
    background:url(https://s3.amazonaws.com/owler-image-test/ceo-landing-page/cw-footer-social-icons.png);
    background-repeat:no-repeat;
    background-position:0;
    float:left;
}
i.cw-social-twitter{
    background-position:0 0 !important;
}
i.cw-social-linkedin{
    background-position:-46px 0 !important;
}
i.cw-social-fb{
    background-position:0 -46px !important;
}
i.cw-social-rss{
    background-position:-46px -46px !important;
}
.cw-footer-link-panel{
    float:left;
    width:calc(100% - 150px);
}
i.cw-footer-logo-icon{
    width:35px;
    height: 26px;
    float:left;
    margin:-38px 0 0 0;
    background:none;
}
ul.cw-footer-link-holder{
    width:134px;
    float:left;
    margin:0 55px 0 0;
}
ul.cw-footer-link-holder > li, ul.cw-footer-link-holder > li > a.cw-footer-title-link{
    float:left;
    width:100%;
    color:#ffffff;
    font-weight:700;
    font-size:14px;
    text-decoration:none;
}
ul.cw-footer-link-holder > li:first-child{
    height:24px;
    line-height:24px;
}
ul.cw-footer-link-holder > li > a{
    float:left;
    width:100%;
    color:#ffffff;
    font-weight:400;
    font-size:14px;
    line-height:22px;
    text-decoration: none;
}
.cw-copyright, .cw-copyright-btm{
    float:right;
    color:#808183;
    font-size:14px;
    width:130px;
    text-align:center;
}

@media only screen and (min-width : 0px) and (max-width : 1024px) {
    .cw-search-panel{ display:none;}
    .cw-footer-social-media{ width:auto; margin:20px 0 0 0; position:relative; left:50%; float:left; transform:translateX(-50%);}
    i.cw-footer-logo-icon{position:absolute; float:none; left:50%; top:32px; margin: 0 0 0 -18px;}
    .cw-footer-link-panel{ clear:both; margin:20px 0px 0px 0px; width:100%;}
    ul.cw-footer-link-holder{ width:100%; margin:20px 0px 0px 0px;}
    ul.cw-footer-link-holder > li{ text-align:center;}
    .cw-copyright{ display:none;}
    .cw-copyright-btm{ display:block;}
}

.f-box {
    display: none;
    margin: auto;
    text-align:left;
    background-color: #e8e8e8;
    width: 100%;
    max-width: 1024px;
    height: 600px;
    padding: 30px 42px 85px 42px;
    z-index: 100;
}

.f-box img {
    display: inline-block;
}

.f-box > p {
    font-weight:400;
    color: #474747;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0 30px 0;
}

.f-box > h2 {
    display: inline-block;
    font-weight:500;
    color: #ef6c00;
    font-size: 22px;
    margin: 0 10px 0 0;
}

.f-box  ul {
    padding-left: 50px;
}

.f-box li {
    margin: 12px 0;
    font-weight: 400;
    color: #474747;
    line-height: 18px;
    font-size: 16px;
}
.f-box li > span {
    font-weight: 700;
    color: #474747;
    font-size: 16px;
}


#feature {

}

#popup {
    margin: auto;
    text-align: center;
}

.right {
    float: right;
    cursor: pointer;
}